<script>
export default {
	data: function() {
		return {
			errormsg: null,
			loading: false,
			games: null,
			currentGame: 0,
		}
	},
	methods: {
		async refresh() {
			this.loading = true;
			this.errormsg = null;
			try {
				let response = await this.$axios.get("/games");
				this.games = response.data;
			} catch (e) {
				this.errormsg = e.toString();
			}
			this.loading = false;
		},
		async startNewGame() {
			this.loading = true;
			this.errormsg = null;
			try {
				let response = await this.$axios.post("/games");
				this.currentGame = response.data;
			} catch (e) {
				this.errormsg = e.toString();
			}
			this.errormsg = null;
			try {
				let response = await this.$axios.get("/games");
				this.games = response.data;
			} catch (e) {
				this.errormsg = e.toString();
			}
			this.loading = false;
		},
	},
	mounted() {
		this.refresh()
	}
}
</script>

<template>
	<div>
		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">HI-LO GAME</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group me-2">
					<button type="button" class="btn btn-sm btn-outline-secondary" @click="refresh">
						Refresh
					</button>
					<button type="button" class="btn btn-sm btn-outline-secondary" @click="exportList">
						Export
					</button>
				</div>
				<div class="btn-group me-2">
					<button type="button" class="btn btn-sm btn-outline-primary" @click="startNewGame">
						New Game
					</button>
				</div>
			</div>
		</div>

		<ErrorMsg v-if="errormsg" :msg="errormsg"></ErrorMsg>
	</div>
	<ul>
		<li v-for="game in games">Game# {{game.Id}} - {{game.Outcome}} - {{game.Guesses}} </li>
	</ul>
</template>

<style>
</style>
